body{
margin: 50px;
}

.bg_header_image{
    width:1320px;
    height: 600px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
   background-image:url(/image/Banner\ Image.png);
   
}


.bg_linner{
    display: grid;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 200px 400px;
    /* width:1320px;
    height: 600px; */
  
}
.happy{
    
    font-size: 32px;
    color: white;
    text-align: center;
font-family: Merriweather;

}
.new_year{
margin-top: -20px;
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; 
}



/* offer */
.offer{
    margin-top: 50px;
display: grid;
justify-content: center;
align-items: center;

}

.off{
display: grid;
justify-content: center;
align-self: center;
}
.off_headline{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.off_sub_headline{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.all_catagories{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

